<h2>Light</h2>
<form action="/save" method="post">
    <input type="hidden" id="dict" name="dict" value="light">


    <h3>Vegetation</h3>
    <label for="veg_morning_on">Morning on: {2} </label>
    <input type="time" id="veg_morning_on" name="veg_morning_on" value="{2}">
    <br>
    <label for="veg_morning_off">Morning off: {3} </label>
    <input type="time" id="veg_morning_off" name="veg_morning_off" value="{3}">
    <br>
    <label for="veg_main_on">Main on: {4} </label>
    <input type="time" id="veg_main_on" name="veg_main_on" value="{4}">
    <br>
    <label for="veg_main_off">Main off: {5} </label>
    <input type="time" id="veg_main_off" name="veg_main_off" value="{5}">
    <br>
    <label for="veg_evening_on">Evening on: {6} </label>
    <input type="time" id="veg_evening_on" name="veg_evening_on" value="{6}">
    <br>
    <label for="veg_evening_off">Evening off: {7} </label>
    <input type="time" id="veg_evening_off" name="veg_evening_off" value="{7}">
    <br>
    <label for="veg_uva_mins">UVA minutes: {8} </label>
    <input type="number" min="0" max="7" id="veg_uva_mins" name="veg_uva_mins" value="{8}">
    <br>
    <label for="veg_days">Vega days: {9} </label>
    <input type="number" min="0" max="666" id="veg_days" name="veg_days" value="{9}">
    <br>
    <input type="submit" value="Save" class="button">
</form>