<h2>Air</h2>
<form action="/save" method="post">
    <input type="hidden" id="dict" name="dict" value="air">
    <label for="rh_min">Humidity min: {0} </label>
    <input type="number" id="rh_min" name="rh_min" min="0" max="100" value="{0}">
    <br>
    <label for="rh_max">Humidity max: {1} </label>
    <input type="number" id="rh_max" name="rh_max" min="0" max="100" value="{1}">
    <br>
    <label for="pressure_min">Pressure min: {2} </label>
    <input type="number" id="pressure_min" name="pressure_min" min="666" max="1216" value="{2}">
    <br>
    <label for="pressure_max">Pressure max: {3} </label>
    <input type="number" id="pressure_max" name="pressure_max" min="666" max="1216" value="{3}">
    <br>
    <label for="air_temp_min">Temperature min: {4} </label>
    <input type="number" id="air_temp_min" name="air_temp_min" min="0" max="50" value="{4}">
    <br>
    <label for="air_temp_max">Temperature max: {5} </label>
    <input type="number" id="air_temp_max" name="air_temp_max" min="0" max="50" value="{5}">
    <br>
    <input type="submit" value="Save" class="button">
</form>