<p>
    <a href="/restart">
        <button class="button">Restart</button>
    </a>
    <a href="/settings">
        <button class="button button2">Settings</button>
    </a>
</p>
<h2>Anal sensors</h2>
<p>EC&#9757; = {1} | EC&#9759; = {2}</p>
<p>I<sub>bat</sub> = {9} | V<sub>bat</sub> = {10}V</p>
<p>V<sub>ps</sub> = {11}V</p>
<h2>ds18b20 sensors</h2>
<p>Air : {3} &#8451;</p>
<p>Space : {4} &#8451;</p>
<h2>DHT sensors</h2>
<p>T(Brd) = {5} &#8451; | RH(Brd) = {6} %</p>
<p>T(Air) = {7} &#8451; | RH(Air) = {8} %</p>
<h2>Chip</h2>
<p>Temperature = {0} &#8451;</p> 

