<p>
    <a href="/restart">
        <button class="button">Restart</button>
    </a>
    <a href="/settings">
        <button class="button button2">Settings</button>
    </a>
</p>
<h2>Anal sensors</h2>
<p>pH = {0} | EC&#9757; = {1} | EC&#9759; = {2}</p>
<p>I<sub>bat</sub> = {3} | V<sub>bat</sub> = {4}V</p>
<p>V<sub>ps</sub> = {5}V</p>
<h2>ds18b20 sensors</h2>
<p>Miska : {6} &#8451;</p>
<p>Air : {7} &#8451;</p>
<p>Space : {8} &#8451;</p>
<h2>DHT sensor</h2>
<p>t = {9} &#8451; | RH = {10} %</p>


